@font-face{
	font-family: 'Goudy';
	font-style: normal;
	src: url('GoudyStM-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'Goudy';
	font-style: italic;
	src: url('GoudyStM-Italic-webfont.ttf') format('truetype');
}

body{
	margin:0;
	background: #000;
}
#game{
	position: fixed;
	top:0; left:0;
	cursor: pointer;
}
#words{

	/* Positioning */
	position: absolute;
	top:0; left:0;
	width: 350px;
	margin-left: 65px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 50px;
	padding-bottom: 150px;

	/* Background */
	background: rgba(0,0,0,0.5);

	/* Font */
	font-family: 'Goudy';
	font-size: 20px;
	line-height: 1.5em;
	color: #fff;

}
#words.no-select{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
#words h1{
	font-size: 3em;
	margin-top: 0.5em;
	margin-bottom: 0;
	line-height: 1.5em;
}
#words a{
	color: #FEE27F;
}
#words a:hover{
	color: #FEEDB1;
}
#words hr{
	border: none;
    border-bottom: 1px solid #444;
    margin: 1.5em 0;
}
#words hr.footer{
	border-top: 1px solid #444;
    height: 10px;
    margin: 100px 0;
}
#credits{
	font-size: 18px;
	color: #666;
}
#credits a{
	color: #bbb;
}
#credits a:hover{
	color: #fff;
}

#patreon{

	text-decoration: none;
	display: inline-block;

	font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;

    font-size: 23px;
    padding: 7px 10px;
    border-radius: 30px;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;

    width: 300px;
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);

}
#patreon:hover{
	background: #FEE27F;
	color: #000;
	border-color: #000;
}

.sharing{

}
